Source: puavo-client
Section: misc
Priority: extra
Maintainer: Esa-Matti Suuronen <esa-matti.suuronen@opinsys.fi>
Build-Depends: bundler, debhelper (>= 7), ruby2.2, ruby2.2-dev
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/puavo-client

Package: puavo-client
Architecture: any
Depends: ${misc:Depends}, ruby2.2, ruby-ldap, dnsutils
Replaces: puavo-register
Conflicts: puavo-register
Provides: puavo-register
Description: Ruby lib for Puavo
 Simple ruby wrapper for the Puavo HTTP API
